{% extends 'quiz/base.html' %}
{% block title %}Prihlásenie{% endblock %}

{% block content %}
<div class="login-wrapper">
    <div class="login-card">
        
        <h1 class="login-title">Prihlásenie</h1>
        <p class="login-subtitle">Vitajte späť! Prihláste sa do svojho účtu.</p>
        
        <form method="post">
            {% csrf_token %}
            
            <div class="django-form-styled">
                {{ form.as_p }}
            </div>
            
            <button type="submit" class="btn-login-submit">
                🚀 Prihlásiť sa
            </button>
        </form>
        
    </div>
</div>
{% endblock %}